.about-info {
  width: 90%;
  margin: 0 auto;
  h3 {
    color: $blue;
    font-family: $serif-font;
  }
}

.hello {
  font-family: $serif-font;
  color: $blue;
  text-align: center;
  margin-bottom: 2rem;
}

.info-block {
  display: flex;
}

.info-title {
  width: 25%;
}

.info-des {
  width: 75%;
}
