.grey-form h3 {
  color: $blue;
  font-family: $serif-font;
  font-weight: bold;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

#red-email {
  color: $red;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.grey-form {
  width: 80%;
  margin: 1rem auto;
  @include md {
    width: 70%;
  }
}

.names {
  @include md {
    display: flex;
    justify-content: space-between;
  }
}

.names .name {
  @include md {
    width: 48%;
  }
}

.grey-contact {
  width: 100%;
  margin-bottom: 1rem;
  padding: 8px;
  height: 45px;
  border: 3px solid $pink;
  box-sizing: border-box;
  background-color: rgba(0, 0, 255, 0.0);
}

.grey-contact:focus {
  border: 3px solid #DB6767;
}

.grey-message {
  width: 100%;
  margin-bottom: 24px;
  padding: 8px;
  height: 45px;
  border: 3px solid $pink;
  box-sizing: border-box;
  background-color: rgba(0, 0, 255, 0.0);
  height: 243px;
}

.grey-message:focus {
  border: 3px solid #DB6767;
}

.grey-message::placeholder {
  color: $grey;
  opacity: 1;
}

.solid-grey-button {
  margin: 0 auto;
  background-color: $pink;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.solid-grey-button:hover {
  background-color: #2E3C46;
}

 .hidden {
  display: none;
 }

#submit-button {
  text-align: center;
}
